language: c
sudo: required
services:
  - docker

## We build on as many OCaml version as we can support. These versions
## are in fact tags for the ocaml/opam2 Docker image that we pull.

env:
  - TAG=4.05
  - TAG=4.06
  - TAG=4.07

## Two steps: we first build the Dockerfile. If it succeeds, we try
## running tests, installing and uninstalling in the Dockerfile.

script:
  - docker build --build-arg tag=$TAG --build-arg switch=$SWITCH --tag colisanr/colis-language:$TRAVIS_BRANCH .
  - docker run --entrypoint /bin/sh colisanr/colis-language:$TRAVIS_BRANCH -c 'eval $(opam env) && cd /home/opam/colis-language && make really-sure && make install && make uninstall'
